/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace
  font-size: 20px;
}

header {
  border: 1px solid pink;
  background-image: url(../images/banners/bannercloud.jpg);
  background-size: cover;
  height: 50px;
  background-position: center center;
}
h1,
h2,
h3 {
  font-size: 36px;
  font-family: Helvetica, sans-serif
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}

.inspo-img {
  width: 853px;
}

.three-col {
  display: flex;
  flex: 1;
}

.three-col article {
  flex: 1;
}